@charset "utf-8";

// 颜色定义规范
$color-background = #ffffff
$color-background-d = #dfe9f3
$color-shoadow = #94c7ff
// $color-highlight-background = #333
$color-dialog-background = rgba(129, 129, 129, 0.7)
$color-theme = #2673ff
$color-sub-d = #5135dc
$color-theme-l = #2674fb
$color-theme-d = #5ac8fa
$color-linear-start = #5432db
$color-linear-end = #6912cc
$color-text = #232323
$color-text-d = #999999
$color-text-l = #777777
$color-text-ll = #ffffff

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 11px
$font-size-medium = 12px
$font-size-medium-x = 14px
$font-size-large = 16px
$font-size-large-x = 18px